#preview {
		background-color: #525659;
		overflow: scroll;
		z-index: 1;
		margin-right: -17px;
		overflow: hidden;
		overflow-y: scroll;adding-right: 17px;
}

.container-fluid {
		overflow: hidden;
}

.page {
		background-color: white;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		width: 68%;
		word-wrap: break-word;
}


.open > .page {
		background-color: white;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		width: 51% !important;
		word-wrap: break-word;
}

.humberger {
		position: absolute;
		right: 0px;
		top: 5%;
		width: 3vw;
		padding: auto;
		background-color: black;
		z-index: 2;
}

.overview {
		position: absolute;
		width: 25vw;
		height: 90vh;
		left: 75%;
		top: 10%;
}

.open {
		width: 75vw !important;
}


.preview-img {
		position: relative;
		width: 60%;
		border: solid black 1px;
		margin-top: 10%;
		left: 20%;
}

.toolbar {
		background-color: #2b2b2b;
}

.h-5 {
		height: 5% !important;
}
 
.h-90 {
		height: 90% !important;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 2px #777; 
}
::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 5px;
  box-shadow: none;
}
